<%- include('./common/header.ejs') %>

  <div class="lv-main">

    <div class="lv-menu">
      <ul>
        <li class="lv-menu-item active">
          <i class="iconfont icon-home"></i>
          <span class="lv-menu-item__title">系统首页</span>
        </li>
        <li class="lv-menu-item">
          <i class="iconfont icon-team"></i>
          <span class="lv-menu-item__title">用户管理</span>
        </li>
      </ul>
    </div>

    <div class="lv-body">

      <!-- 工具栏 -->
      <div class="lv-toolbar">
        <div class="lv-toolbar-left">
          <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">新增用户</button>

          <!-- 模态框（Modal） -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog location">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                    添加学员
                  </h4>
                </div>
                <div class="modal-body">
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon">姓名</span>
                    <input type="text" id="userName" class="form-control" placeholder="王二狗">
                  </div><br>
                  <div class="input-group input-group-lg">
                    <span class="input-group-addon" >班级</span>
                    <input type="text" id="class" class="form-control" placeholder="三年八班">
                  </div><br>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                  </button>
                  <button type="button" class="btn btn-primary" id="submit" data-dismiss="modal">
                    添加
                  </button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal -->
          </div>

          <button class="btn">新增用户</button>
        </div>
        <div class="lv-toolbar-right">
          <div class="lv-toolbar-search-box">
            <input type="text" id="searchVal" placeholder="目前只支持搜索昵称" />
            <button id="searchBtn">搜索</button>
          </div>
        </div>
      </div>
      <!-- 表格 将数据给显示出来 -->

      <table class="table">
        <thead>
        <tr>
          <th>序号</th>
          <th>学生姓名</th>
          <th>学生年龄</th>
          <th>学生班级</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <% for (var i = 0;i<list.length; i++){%>
        <tr>
            <td><%= i + 1 %></td>
            <td><%= list[i].studentName %></td>
            <td><%= list[i].age %></td>
            <td><%= list[i].grade %></td>
            <td><button class="btn btn-danger">删除</button></td>
        </tr>
        <% } %>

        </tbody>
      </table>
      <!-- 分页 -->
      <div class="lv-pagination right">
        <ul>
          <li class="lv-pagination__item prev"><a href="#"><i class="iconfont icon-doubleleft"></i></a></li>
          <%for (var i = 1; i <= totalPage; i++){ %>
                <li class="lv-pagination__item <%= i === pageNum? 'active' : '' %>">
                    <a href="/?pageNum= <%= i %>&pageSize=<%= pageSize%>"><%= i %></a></li>
          <% }%>

          <li class="lv-pagination__item next"><a href="#"><i class="iconfont icon-doubleright"></i></a></li>
        </ul>
      </div>

    </div>
  </div>

    <%- include('./common/footer.ejs') %>